<h2>Update Page</h2>
<p>{{ title }}</p>

<p>Enter Twitch username:</p>
<p><input type="text" ng-model="user" ng-keydown="update($event)" autofocus required></p>
<p>Enter LoL summoner name:</p>
<p><input type="text" ng-model="summoner" ng-keydown="update($event)" autofocus required></p>
<p>Enter player's region:</p>
<p><input type="text" ng-model="region" ng-keydown="update($event)" autofocus required></p>
<p>Enter username:</p>
<p><input type="text" ng-model="username" ng-keydown="update($event)" autofocus required></p>
<p>Enter password:</p>
<p><input type="password" ng-model="password" ng-keydown="update($event)" autofocus required></p>

<p>{{ message }}</p>
